# Default owners for everything in the repo
* @Ambiance-Enhancer/admins

.github/ @Ambiance-Enhancer/infra
src/backend/ @Ambiance-Enhancer/backend
src/frontend/ @Ambiance-Enhancer/frontend
src/database/ @Ambiance-Enhancer/database
tests/ @Ambiance-Enhancer/test