---
name: Lint

on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  detect:
    runs-on: ubuntu-latest
    outputs:
      extensions: ${{ steps.detect.outputs.extensions }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0

      - name: Detect file extensions
        id: detect
        run: |
          git fetch origin main
          if [[ $GITHUB_EVENT_NAME == 'pull_request' ]]; then
            DIFF=$(git diff --name-only origin/main...HEAD)
          else
            DIFF=$(git diff --name-only HEAD~1)
          fi
          EXT=$(echo "$DIFF" | awk -F. '/\./{print $NF}' | \
            sort | uniq | tr '\n' ',' | sed 's/,$//')
          echo "extensions=$EXT" >> $GITHUB_OUTPUT

  lint:
    needs: detect
    runs-on: ubuntu-latest
    if: ${{ needs.detect.outputs.extensions != '' }}
    strategy:
      matrix:
        extension: [py, js, ts, sh, yml]
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Set up Python
        if: >-
          ${{ contains(needs.detect.outputs.extensions, 'py') &&
          matrix.extension == 'py' }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: '3.x'

      - name: Set up Node.js
        if: >-
          ${{ (contains(needs.detect.outputs.extensions, 'js') ||
          contains(needs.detect.outputs.extensions, 'ts')) &&
          (matrix.extension == 'js' || matrix.extension == 'ts') }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # v6.2.0
        with:
          node-version: '18'

      - name: Run Python linter (flake8)
        if: >-
          ${{ contains(needs.detect.outputs.extensions, 'py') &&
          matrix.extension == 'py' }}
        run: |
          pip install flake8
          flake8 --max-line-length=999 .    
      
      - name: Run JavaScript linter (eslint)
        if: >-
          ${{ (contains(needs.detect.outputs.extensions, 'js') ||
          contains(needs.detect.outputs.extensions, 'ts')) &&
          (matrix.extension == 'js' || matrix.extension == 'ts') }}
        run: |
          npm install
          npx eslint .

      - name: Run Shell linter (shellcheck)
        if: >-
          ${{ contains(needs.detect.outputs.extensions, 'sh') &&
          matrix.extension == 'sh' }}
        run: |
          sudo apt-get install -y shellcheck
          shellcheck $(find . -name "*.sh")

      - name: Run YAML linter (yamllint)
        if: >-
          ${{ contains(needs.detect.outputs.extensions, 'yml') &&
          matrix.extension == 'yml' }}
        run: |
          pip install yamllint
          yamllint -d "{extends: default, rules: {line-length: disable}}" .
