---
name: Lint

"on":
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  detect:
    runs-on: ubuntu-latest
    outputs:
      js: ${{ steps.detect.outputs.js }}
      py: ${{ steps.detect.outputs.py }}
      sh: ${{ steps.detect.outputs.sh }}
      sql: ${{ steps.detect.outputs.sql }}
      ts: ${{ steps.detect.outputs.ts }}
      yml: ${{ steps.detect.outputs.yml }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 0

      - name: Detect changed file types
        id: detect
        env:
          BEFORE_SHA: ${{ github.event.before }}
          BASE_REF: ${{ github.base_ref }}
        run: |
          set -euo pipefail

          if [[ "${GITHUB_EVENT_NAME}" == "pull_request" ]]; then
            git fetch origin "${BASE_REF}:refs/remotes/origin/${BASE_REF}"
            DIFF="$(git diff --name-only "origin/${BASE_REF}...HEAD")"
          else
            DIFF="$(git diff --name-only "${BEFORE_SHA}...${GITHUB_SHA}")"
          fi

          if echo "$DIFF" | grep -Eq '\.js$'; then has_js=true; else has_js=false ;fi
          if echo "$DIFF" | grep -Eq '\.py$'; then has_py=true; else has_py=false ;fi
          if echo "$DIFF" | grep -Eq '\.sh$'; then has_sh=true; else has_sh=false ;fi
          if echo "$DIFF" | grep -Eq '\.sql$'; then has_sql=true; else has_sql=false ;fi
          if echo "$DIFF" | grep -Eq '\.ts$'; then has_ts=true; else has_ts=false ;fi
          if echo "$DIFF" | grep -Eq '\.(yml|yaml)$'; then has_yml=true; else has_yml=false ;fi

          echo "js=${has_js}" >> "$GITHUB_OUTPUT"
          echo "py=${has_py}" >> "$GITHUB_OUTPUT"
          echo "sh=${has_sh}" >> "$GITHUB_OUTPUT"
          echo "sql=${has_sql}" >> "$GITHUB_OUTPUT"
          echo "ts=${has_ts}" >> "$GITHUB_OUTPUT"
          echo "yml=${has_yml}" >> "$GITHUB_OUTPUT"

          echo "Detected changed file types: js=$has_js py=$has_py tsh=$has_sh sql=$has_sql s=$has_ts yml=$has_yml"
  lint:
    runs-on: ubuntu-latest
    needs: detect
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 0

      - name: Set up Python
        if: ${{ needs.detect.outputs.py == 'true'}}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: '3.x'

      - name: Run Python linter (flake8)
        if: ${{ needs.detect.outputs.py == 'true' }}
        run: |
          pip install flake8
          flake8 --max-line-length=999 .

      - name: Set up Node.js
        if: ${{ needs.detect.outputs.js == 'true' || needs.detect.outputs.ts == 'true' }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # v6.2.0
        with:
          node-version: '18'

      - name: Run JavaScript/TypeScript linter (eslint)
        if: ${{ needs.detect.outputs.js == 'true' || needs.detect.outputs.ts == 'true' }}
        run: |
          npm install
          npx eslint .

      - name: Run Shell linter (shellcheck)
        if: ${{ needs.detect.outputs.sh == 'true' }}
        run: |
          sudo DEBIAN_FRONTEND=noninteractive \
          sudo apt-get -qq install -y shellcheck > /dev/null
          shellcheck $(git ls-files "*.sh")


      - name: Run SQL linter (sqlfluff)
        if: ${{ needs.detect.outputs.sql == 'true' }}
        run: |
          sudo DEBIAN_FRONTEND=noninteractive \
          sudo apt-get -qq install -y sqlfluff > /dev/null
          sqlfluff lint --dialect postgres --format github-annotation-native .
        
      - name: Run YAML linter (yamllint)
        if: ${{ needs.detect.outputs.yml == 'true' }}
        run: |
          sudo DEBIAN_FRONTEND=noninteractive \
          sudo apt-get -qq install -y yamllint > /dev/null
          yamllint -d "{extends: default, rules: {line-length: disable}}" .